@font-face {
  font-family: sfbold;
  src: url("../../../../uploads/2022/09/SFProDisplayBold.otf") format("opentype");
}
@font-face {
  font-family: sflight;
  src: url("../../../../uploads/2022/09/SFProDisplayLight.otf") format("opentype");
}
@font-face {
  font-family: sfmedium;
  src: url("../../../../uploads/2022/09/SFProDisplayMedium.otf") format("opentype");
}